<form method="post" action="{{ path('app_sessions_vote_delete', {'id': sessions_vote.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sessions_vote.id) }}">
    <button class="btn">Delete</button>
</form>
