{% extends 'base.html.twig' %}

{% block title %}Edit SessionsVote{% endblock %}

{% block body %}
    <h1>Edit SessionsVote</h1>

    {{ include('sessions_vote/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sessions_vote_index') }}">back to list</a>

    {{ include('sessions_vote/_delete_form.html.twig') }}
{% endblock %}
