{% extends 'base.html.twig' %}

{% block title %}New SessionsVote{% endblock %}

{% block body %}
    <h1>Create new SessionsVote</h1>

    {{ include('sessions_vote/_form.html.twig') }}

    <a href="{{ path('app_sessions_vote_index') }}">back to list</a>
{% endblock %}
