<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des pays</title>
    <link rel="stylesheet" href="./assets/style.css">
    <script src="./assets/vue.global.js"></script>
    <script src="./assets/vuePays.js" type="module"></script>
</head>
<body>
    <header>
        <h1>Pays</h1>
    </header>
    <main id="app">
        <table>
            <caption>Liste des pays</caption>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>CODE</th>
                    <th>NOM</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="pays of listePays">
                    <td>
                        <img :src="'https://flagsapi.com/' + pays.country_code + '/flat/32.png'" :alt="pays.country_code">
                    </td>
                    <td>{{ pays.country_code }}</td>
                    <td>{{ pays.country_name }}</td>
                    <td>
                        <button type="button" :data-id="pays.id" @click="ouvrirModal">Détails</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="modal" ref="modal">
            <article v-if="monPays != null">
                <button class="fermer" @click="fermerModal">Fermer</button>
                <header>
                    <h2>{{ monPays.country_name }}</h2>
                    <img :src="'https://flagsapi.com/' + monPays.country_code + '/flat/64.png'" :alt="monPays.country_code">
                    <p>Code ISO: <span style="font-weight: bold;">{{ monPays.country_code }}</span></p>
                </header>
                <div class="addVille">
                    <label for="ajouterVille">Ajouter une ville: </label>
                    <input id="ajouterVille" v-model="newVille" type="text">
                    <button @click="ajouterUneVille">Ajouter</button>
                </div>
                <h3 style="text-align: left;">{{ monPays.villes.length }} ville(s) enregistrées</h3>
                <ul>
                    <li v-for="ville of monPays.villes">{{ ville.city_name }}</li>
                </ul>
            </article>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>